<%= content_for :navbar do %>
  <%= link_to "HOME", root_path, {class: "home_link"} %>
<% end %>
<p> Welcome Guest Shopper</p>

<div class="item_list">
  <table class="items_table">
    <tr>
      <% @items.each do |item| %>
        <td><%= link_to "Item #{item.id}", edit_cart_path(item.id), id: "item_#{item.id}"%></td>
      <% end %>
    </tr>
  </table>
